<div class="form-contacto mx-auto">
  <header>
      <span>
          <h2>Contacto</h2>
      </span>
  </header>
  <form class="contacto">
      <label for="nombre"><strong>Nombre:</strong></label>
      <input type="text" placeholder="Ingrese su nombre" name="dueño" id="dueño">

      <label for="nombre"><strong>Telefono 1:</strong></label>
      <input type="text" placeholder="Ingrese su numero de telefono" name="tel1" id="tel1">

      <label for="nombre"><strong>Telefono 2:</strong></label>
      <input type="text" placeholder="Ingrese un numero de respaldo" name="tel2" id="tel2">

      <label for="gmail"><strong>mail:</strong></label>
      <input type="text" name="gmail" id="gmail" placeholder="Ingrese un mail de contacto">
  </form>
</div>
