*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#divprincipal{
    background-color:#F2c995;
    padding-top: 20px;

}
.form-mascota{
    background-color: #F2c995;
    width: 500px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-35%);
    box-shadow: 7px 13px 37px rgba(0, 0, 0, .8) ;
    border: 3px solid black;
    border-radius: 10px;
}
header{
    text-align: center;
    width:100%;
    background-color: #B88B54;
    overflow:hidden;
}
header span{
    font-size:100px;
    text-align: center;
}
.mascota{
    padding:.8rem;
    overflow:hidden;
    color:black
}
.mascota{
    border:black;
}
.mascota label, .mascota input,.mascota select,.mascota textarea{
    display:block;
    width:100%;
    margin-bottom:8px;
}
.mascota input,.mascota text,.mascota select{
    border: none;
    border-bottom:2px solid black;
    margin-bottom:10px;
    background: none;
}
#h1principal{
    text-align: center;
}


.form-ubicacion{
    position:absolute;
    width: 500px;
    transform:translate(-50%,-35%);
    top:125%;
    left:50%;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, .8) ;
    border: 3px solid black;
    border-radius: 10px;
}

.mascota{
    padding:.8rem;
    overflow:hidden;
    color:black
}
.mascota{
    border:black;
}
.mascota label, .mascota input,.mascota select,.mascota textarea{
    display:block;
    width:100%;
    margin-bottom:8px;
}
.mascota input,.mascota text,.mascota select{
    border: none;
    border-bottom:2px solid black;
    margin-bottom:10px;
    background: none;
}