/* CONTROLA TARJETA DE INFORMACION DE CONTACTO */
.form-contacto{
    background-color: #F2c995;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, .8) ;
    border: 2px solid black;
    border-radius: 10px;
}
/* CONTROLA LA TARJETA DE INFORMACION DE MASCOTA */
.form-mascota{
    background-color: #F2c995;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, .8) ;
    border: 2px solid black;
    border-radius: 10px;
}

/* CONTROLA LA TARJETA DE INFORMACION DE LA UBICACION */
.form-ubicacion{
    background-color: #F2c995;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, .8) ;
    border: 2px solid black;
    border-radius: 10px;
}

header{
    width:100%;
    background-color: #B88B54;
    overflow:hidden;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
}

header span{
    font-size:100px;
    text-align: center;
}
.tarjetas-info{
    padding:.8rem;
    overflow:hidden;
    color:black;
    border:black;
}

.tarjetas-info label, .tarjetas-info input,.tarjetas-info select,.tarjetas-info textarea{
    display:block;
    width:100%;
    margin-bottom:8px;
}
.tarjetas-info input,.tarjetas-info text,.tarjetas-info select{
    text-decoration: #000000;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: #e2b278;
}

iframe{
    transform:translate(60%,10px);
    border-radius: 10px;
}

/* Estilo para la transición */
.transicion-div {
    transition: all 0.3s ease; /* Puedes ajustar la duración y la función de temporización según tus preferencias */
    opacity: 0;
    height: 0;
    overflow: hidden;
}
/* Estilo para mostrar el div */
.mostrar {
    opacity: 1;
    height: auto;
}