<div class=" login container-flex">
    <div>
        <div class="row">
            <div class="col-6 col-md-4">
                <div class="login-container">
                    <h2>Iniciar Sesión</h2>
                    <form class="login-form">
                        <input [(ngModel)]="usuarios.email" type="text" placeholder="Correo electrónico" required name="email">
                        <input [(ngModel)]="usuarios.password" type="text" placeholder="Contraseña" required name="contraseña">
                    </form>
                    <p class="register-link">¿No tienes una cuenta? <a href="#">Registrarse</a></p>
                    <button class="btn button" type="submit" (click)="ingresar()">Iniciar sesión</button>
                </div>
            </div>

        </div>
    </div>