<div class=" login container-flex">


    <div>
        <div class="row">
            
            <div class="col-6 col-md-4">
                <div class="login-container">
                    <h2>Iniciar Sesión</h2>
                    <form class="login-form">
                        <input type="email" placeholder="Correo electrónico" required>
                        <input type="password" placeholder="Contraseña" required>
                    </form>
                    <p class="register-link">¿No tienes una cuenta? <a href="#">Registrarse</a></p>
                    <button class="btn button" type="submit">Iniciar sesión</button>
                </div>
            </div>

        </div>
    </div>