h1{
  text-align: center;
  border-radius: 20px;
}
.h1{
  padding-bottom: 40px;
}
span{
  background-color: rgba(0, 0, 0, 0.351);
  border-radius: 20px ;
}
.button{
  padding-top: 40px;
  text-align: center;
}
button{
  height: 50px;
  width: 300px;
  box-shadow: 7px 13px 37px rgba(0, 0, 0, .8) ;
  border-color: black;
}

.container-fluid{
  padding-top: 40px;
  padding-bottom: 40px;
}

.bg-color{
  background-color: #F2c995;
}
