

html{
    background-color: #F2C995;
}

.publicacion{
    background-color: #F2C995;
}

.contCarrusel{
    height: 50vh;
}

.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fixed-size-img{
    width: 100%;
    height: 100%;
    object-fit: contain; 
    /* Controla el recorte de la imagen */
}
