

html{
    background-color: #F2C995;
}
.espacioLado {
    margin-left: none;
    margin-right: none;
}

.publicacion{
    background-color: #F2C995;
}

.contCarrusel{
    height: 50vh;
}

.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fixed-size-img{
    width: 100%;
    height: 100%;
    object-fit: contain; 
    /* Controla el recorte de la imagen */
}


/* Estilos para pantallas grandes (computadoras de escritorio) */
@media screen and (min-width: 1300px) {
    .espacioLado {
        margin-left: 15%;
        margin-right: 15%;
    }
    .contCarrusel{
        height: 70vh;
    }
}

/* Estilos para pantallas medianas (notebooks) */
@media screen and (max-width: 1300px) and (min-width: 768px) {
    .espacioLado {
        margin-left: 4%;
        margin-right: 4%;
    }
}

/* Estilos para pantallas pequeñas (móviles) */
@media screen and (max-width: 767px) {
    .espacioLado {
        margin-left: none;
        margin-right: none;
    }
}