<div class="container-flex px-3 text-center publicacion m-auto justify-content-center">
    <div class="row gx-5 justify-content-center">

        <!-- <div class="col col-md-auto">
            <div class="p-3"></div>
        </div> -->

        <div class="col-auto my-4">

            <!-- CARD -->
            <div class="card my-3 border-0 " style="max-width: none; background-color: #F2C995;">
                <div class="row">
                    <div class="col-md-4">
                        <img src="../../../../../assets/perroej.jpg" class="img-fluid rounded-2" alt="">
                    </div>
                    <div class="col-md-8"> 
                        <!-- div derecha -->
                        <div class="container text-center">
                            <div class="row">
                                <div class=""><h3 class="card-title rounded-2 p-1 m-2" style="background-color: #E7BE89;">Negrito</h3></div>
                            
                                <div class=""><p class="rounded-2 p-1 m-2" style="background-color: #E7BE89;">VeredaCalle (Raza)</p></div>
                            
                                <div class="row">
                                    <div class="col"><p class="rounded-2 p-1 m-2" style="background-color: #E7BE89;">2 Años</p></div>
                                    <div class="col"><p class="rounded-2 p-1 m-2" style="background-color: #E7BE89;">Mediano</p></div>
                                </div>
                                <div class=""><p class=" rounded-2 p-1 m-2" style="background-color: #E7BE89;">Este perro ijueperra se perdio en tal y tal tal</p>
                                </div>
                                <div class="">  <p class="card-text"><small class="text-body-secondary">Actualizado hace 1 semana</small></p>
                                </div>
                            </div>
                        </div>
                        <!-- div derecha -->
                    </div>
                </div>
            </div>
            <!-- CARD -->

        </div>
        <!-- <div class="col col-md-auto">
            <div class="p-3"></div>
        </div> -->
    </div>
</div>