
.titulo{
    text-align: center;  
    margin-top: 2rem;
    margin-bottom: 0px;
}

.container-fluid{
        padding-top: 1rem;
        padding-bottom: 1rem;
}

.bg-color{
    background: rgb(226,178,120);
    background: linear-gradient(153deg, rgba(226,178,120,1) 0%, rgba(246,217,178,1) 100%);
}
.appform{
    margin-left: 20%;
    margin-right: 20%;
}