
h1{
    text-align: center;  
    border-radius: 20px;
    margin-bottom: 0px;
    margin-top: 2rem;
}

.container-fluid{
        padding-top: 1rem;
        padding-bottom: 1rem;
}

.bg-color{
    background: rgb(242,201,149);
    background: linear-gradient(153deg, rgba(242,201,149,1) 0%, rgba(246,217,178,1) 100%);
}
.appform{
    margin-left: 20%;
    margin-right: 20%;
}