<div class="container text-center">
    <div class="card" style="width: 18rem;">
        <h3>
            Formulario de mascota perdida
        </h3>
        <hr>
        <div class="col">
            <label for="exampleFormControlInput1" class="form-label">Raza</label>
            <input type="email" class="pepe" id="exampleFormControlInput1" placeholder="">
        </div>  
        <div class="col">
            <label for="exampleFormControlInput1" class="form-label">Tamaño</label>
            <input type="email" class="pepe" id="exampleFormControlInput1" placeholder="">
        </div>   
        <div class="col">
            <label for="exampleFormControlInput1" class="form-label">Edad</label>
            <input type="email" class="pepe" id="exampleFormControlInput1" placeholder="">
        </div>   
        <div class="col">
            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
            <input type="email" class="pepe" id="exampleFormControlInput1" placeholder="">
        </div>   
        <div class="col">
            <label for="exampleFormControlInput1" class="form-label">Sexo</label>
            <input type="email" class="pepe" id="exampleFormControlInput1" placeholder="">
        </div>   
        <div class="col">
            <label for="exampleFormControlInput1" class="form-label">Descripcion de tu mascota</label>
            <input type="email" class="pepe" id="exampleFormControlInput1" placeholder="">
        </div>   
        <div class="col">
            <label for="exampleFormControlInput1" class="form-label">Como se perdio </label>
            <input type="email" class="pepe" id="exampleFormControlInput1" placeholder="">
        </div>    
        <div class="col">
            <label for="exampleFormControlInput1" class="form-label">Como se perdio </label>
            <input type="email" class="pepe" id="exampleFormControlInput1" placeholder="">
        </div>
    </div>

    
</div>

