<div class="contenedor container-fluid fondo ">
    <div class="container text-flex ">
        <div class="row row-cols-4 ">
          <div class="col cards">
            <div class="card" style="width: 18rem;">
            <img src="../../../../../assets/perroej.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title text-center">Beto</h3>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Caniche-Marron</li>
                <li class="list-group-item">Cipolletti-Manzanar</li>
                
              </ul>
            </div></div>
        </div>
        <div class="col cards"> 
             <div class="card" style="width: 18rem;">
            <img src="../../../../../assets/perroej.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title text-center">Beto</h3>
              <ul class=" card-j list-group list-group-flush">
                <li class="list-group-item">Caniche-Marron</li>
                <li class="list-group-item">Cipolletti-Manzanar</li>
                
              </ul>
            </div></div></div>
        <div class="col cards">
            <div class="card" style="width: 18rem;">
                <img src="../../../../../assets/perroej.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title text-center">Beto
                  </h3>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Caniche-Marron</li>
                    <li class="list-group-item">Cipolletti-Manzanar</li>
                    
                  </ul>
                </div></div>
        </div>
      </div>
</div>