<div class="form-contacto mx-auto">
    <header>
        <span>
            <h2>Contacto</h2>
        </span>
    </header>
    <form class="contacto">
        <label for="nombre"><strong>Nombre del dueño:</strong></label>
        <input type="text" placeholder="Ingrese el nombre del dueño" name="dueño" id="dueño">
        
        <label for="nombre"><strong>Telefono 1 (Principal)</strong></label>
        <input type="text" placeholder="Ingrese numero de telefono" name="tel1" id="tel1">

        <label for="nombre"><strong>Telefono 2:</strong></label>
        <input type="text" name="tel2" id="tel2">

        <label for="gmail"><strong>Gmail:</strong></label>
        <input type="text" name="gmail" id="gmail">
    </form>
</div>
