<section class="form-contacto">
    <header>
        <span>
            <h2>Contacto</h2>
        </span>
    </header>
    <form class="ubicacion">
        <label for="nombre">Nombre del dueño: </label>
        <input type="text" name="dueño" id="dueño">

        <label for="nombre">Telefono 1 (Principal) </label>
        <input type="text" name="tel1" id="tel1">

        <label for="nombre">Telefono 2: </label>
        <input type="text" name="tel2" id="tel2">

        <label for="gmail">Gmail: </label>
        <input type="text" name="gmail" id="gmail">
    </form>
</section>
