<nav class="navbar menu p-2">
    <div class="container-fluid">

            <!-- boton hamburguesa -->
                <button class="navbar-toggler start-0 mx-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <!-- boton perfil -->

                <button class="btn end" routerLink="/auth/login">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                </button>


        <!-- offcanvas menu -->
        <div class="offcanvas offcanvas-start sidemenu" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <!-- header -->
            <div class="offcanvasheader">
                <!-- logo -->
                <img src="../../../../assets/logo1chiquito.png" class="float start-0 link" alt="..." style="height: 50px; width: 54px;" routerLink="/home/inicio">
                <!-- Titulo -->
                <h3 class="offcanvas-title text-end ms-3 me-2 link" id="offcanvasNavbarLabel" routerLink="/home/inicio">Mascotas <br>Perdidas</h3>
                <!-- Boton close -->
                <button type="button" class="btn-close ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <!-- body -->
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-start flex-grow-1">
                    <li class="nav-item bord">
                        <a class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas" routerLink="/home/inicio"><p>Inicio</p></a>
                    </li>
                    <hr class="lineahorizontal">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas" routerLink="/profile/miperfil"><p>Mi Perfil</p></a>
                    </li>
                    <hr class="lineahorizontal">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" data-bs-dismiss="offcanvas" routerLink="" ><p>Mis Publicaciones</p></a>
                    </li>
                    <hr class="lineahorizontal">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas" routerLink="/explore/busqueda"><p>Ver mascotas perdidas</p></a>
                    </li>
                    <hr class="lineahorizontal">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas" routerLink="/explore/posible-extravio"><p>Ver posibles extravíos</p></a>
                    </li>
                    <hr class="lineahorizontal">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas" routerLink="/home/nosotros"><p>Acerca de nosotros</p></a>
                    </li>
                    <hr class="lineahorizontal">
                    <!-- <li class="nav-item">
                        <a class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas" routerLink="/form-publicar/paginapublicar"><p>Formulario para publicar tu mascota perdida</p></a>
                    </li>
                    <hr class="lineahorizontal"> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas" routerLink="/form-encontre/pagina-encontre"><p>Formulario para publicar una mascota encontrada</p></a>
                    </li>
                    <hr class="lineahorizontal"> -->
                </ul>
            </div>
            <div class="offcanvas-body cerrarsesion">
                <div class="mt-auto mx-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                    </svg>
                </div>
                <div class="mt-auto mx-auto">
                    <p class="">Cerrar sesión</p>
                </div>
            </div>
        </div>
    </div>
</nav>

