<nav class="navbar fixed-top menu">
    <div class="container-fluid position-relative">

            <!-- boton hamburguesa -->
                <button class="navbar-toggler start-0 mx-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <!-- boton perfil -->

                <button class="btn end">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                </button>


        <!-- offcanvas menu -->
        <div class="offcanvas offcanvas-start sidemenu" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <!-- header -->
            <div class="offcanvasheader">
                <img src="../../../../assets/Logoprueba.png" class="float start-0" alt="...">
                <h3 class="offcanvas-title align-self-start" id="offcanvasNavbarLabel">Mascotas <br>Perdidas</h3>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <!-- body -->
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas" routerLink="/home/inicio">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="">Mi Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="" >Mis Publicaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas" routerLink="/explore/busqueda">Ver mascotas perdidas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="">Ver mascotas encontradas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas" routerLink="/home/nosotros">Acerca de nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas" routerLink="/explore/publicacion">Prototipo publicacion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas" routerLink="/explore/form-publicar">Prototipo formulario publicar</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
