<div id="fondo">
  <div class="container">
    <div class="row">
      <img src="../../../../../assets/logo1.svg" alt="" width="150" height="150">
      <h1>MASCOTAS PERDIDAS</h1>
      <h5> Una plataforma segura y efectiva para publicar y buscar mascotas perdidas</h5>
      <img src="/src/assets/fondo.jpg" alt="">
      <div id="div1">
        <div>
          <button type="button" class="btn btn-outline-secondary" id="boton" routerLink="../../form-publicar/paginapublicar">Publica tu mascota perdida</button>
        </div>
          <br><br>
        <div>
          <button type="button" class="btn btn-outline-secondary" id="boton" routerLink="../../form-encontre/pagina-encontre">Encontré una mascota perdida</button>
        </div>
      </div>
      <div id="div2">
        <div class="card" style="width: 30%;" id="mapa">
          <div class="card-body" align="center" >
            <h5 class="card-title">Explorar</h5>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12414.105648848905!2d-67.9881331!3d-38.934800800000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1690293312106!5m2!1ses!2sar" width="265" height="250" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
