#fondo{
  position: relative;
  left: 0%;
  right: 0%;
  bottom: 2%;

  background-image: linear-gradient(0.01deg, #F2C995 0%, rgba(184, 139, 84, 0.48) 43.69%), url('/assets/fondo.jpg');
}
.contenedor{
  min-height: 100vh;
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
}
h5{
  display: flex;
  justify-content: center;
  align-items: center;
}
#div1{
  display: flex;
  justify-content: center;
  align-items: center;
}
#div2{
  display: flex;
  justify-content: center;
  align-items: center;
}
#boton{
  color: black;
  text-align: center;
  border-color: #B88B54;
  background-color: #B88B54;
  margin: 25px;
  box-shadow: 2px 5px 5px rgb(167, 129, 83);
}
#boton:hover{
  border-radius: 5px;
  background: #e2b278;

}
#mapa{
  background-color: #b99365;
  color: black;
  border-color: #b99365;
  border-radius: 5%;
  align-items: center;
}
