
.componente{
  min-height: 90vh;
}

#fondo{
  position: relative;
  left: 0%;
  right: 0%;
  bottom: 2%;
  height: 50%;
  background-image: linear-gradient(0.01deg, #F2C995 0%, rgba(184, 139, 84, 0.48) 43.69%), url('/assets/fondo.jpg');
}
.contenedor{
  min-height: 100vh;
}

/* TITULO */
.encabezado{
  display: flex;
  align-items: center;
}
.letraTitulo{
  display: flex;
  text-align: end;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 3.5rem;
  margin-right: auto;
}
.logoTitulo{
  margin-left: auto;
  margin-right: 2rem;
}

.botones{
  display: flex;
}

.subtitulo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

/* BOTONES */
#div1{
  justify-content: center;
  align-items: center;
}

#div2{
  display: flex;
  justify-content: center;

}

#boton{
  color: black;
  font-size: 1.5rem;
  text-align: center;
  border-color: #db9a5c;
  background-color: #db9a5c;
  margin: 1rem;
  margin-bottom: 3rem;
  box-shadow: 2px 5px 5px rgb(0, 0, 0);
  border-radius: 20px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#boton:hover{
  border-radius: 20px;
  background: #e2b278;

}


/* SECCION EXPLORAR */
#mapa{
  background-color: #db9a5c;
  color: black;
  border-color: #db9a5c;
  border-radius: 20px;
  width: 90vw;
  margin-bottom: 2rem;
}

/* Estilos para pantallas grandes (computadoras de escritorio) */
@media screen and (min-width: 1300px) {
  .logoTitulo{
    height: 210px;
    width: 210px;
  }
  .letraTitulo{
    font-size: 4rem;
  }
  .botones{
    display: flex;
  }
  #boton{
    font-size: 1.8rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .botonSpan{
    display: block;
  }
}
  
  /* Estilos para pantallas medianas (notebooks) */
  @media screen and (max-width: 1300px) and (min-width: 768px) {
    .logoTitulo{
      height: 200px;
      width: 200px;
    }
    .letraTitulo{
      font-size: 3.5rem;
    }
    .botones{
      display: flex;
    }
}
  
  /* Estilos para pantallas pequeñas (móviles) */
  @media screen and (max-width: 767px) {
    .logoTitulo{
      height: 100px;
      width: 100px;
      margin-right: 1rem;
    }
    .letraTitulo{
      font-size: 2.5rem;
    }
    .botones{
      display: block;
    }
}

/*////////////////////////// CARROUSEL /////////////////////////*/

.card-img-top{
  height: 18rem;
  max-height: 18rem;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.card{
  background-color: #f0d8b8;
  width: 18rem;
  height: 26rem;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid black;
  margin-left: 1rem;
  margin-right: 1rem;
}

.cont-fijo-cards{
  background-color: #f0d8b8;
  width: 18rem;
  height: 26rem;
  cursor: pointer;
  border-radius: 10px;
}

.slider-wrapper{
  display: flex;
  max-width: 80vw;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  margin-left: auto;
  margin-right: auto;
}

.slider-wrapper ::-webkit-scrollbar{
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.slider{
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}


.btn1{
  transform: translateX(-110%) scale(3) translateY(-320%); 
  border: none;
  padding: 0;
}
.btn2{
  transform: translateX(110%) scale(3) translateY(-320%); 
  border: none;
  padding: 0;
}
