<div id="div1">
  <div>
    <button type="button" class="btn btn-outline-secondary">Secondary</button>
  </div>
  <br><br>
  <div>
    <button type="button" class="btn btn-outline-secondary">Secondary</button>
  </div>
</div>



<div id="div2">
  <div class="card" style="width: 25rem;">
    <div class="card-body">
      <h5 class="card-title">Explorar</h5>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12414.105648848905!2d-67.9881331!3d-38.934800800000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1690293312106!5m2!1ses!2sar" width="350" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>

