<div id="fondo" class="componente">
  <div class="container-fluid text-center pt-3">

      <div class="align-items-start encabezado">
          <img src="../../../../../assets/logoV2.svg" alt="" width="150" height="150" class="logoTitulo">
          <h1 class="letraTitulo">MASCOTAS<br>PERDIDAS</h1>
      </div>
      <h5 class="subtitulo"> Una plataforma segura y efectiva para publicar y buscar mascotas perdidas</h5>
      <img src="/src/assets/fondo.jpg" alt="">
      <div id="div1" class="botones">
        <div>
          <button type="button" class="btn btn-outline-secondary" id="boton" routerLink="../../form-publicar/paginapublicar">
            <span class="botonSpan">Publica tu </span><span class="botonSpan">mascota perdida</span>
          </button>
        </div>
        <div>
          <button type="button" class="btn btn-outline-secondary" id="boton" routerLink="../../form-encontre/pagina-encontre">
            <span class="botonSpan">Encontré una </span><span class="botonSpan">mascota perdida</span>
          </button>
        </div>
      </div>
      <div id="div2">
        <div id="mapa">
        </div>
      </div>

  </div>
</div>
