<div id="perfil">
    <div class="container container-flex">
    <div class="text-start">
        <h1>Mi perfil</h1>

    </div>
            <!-- DATOS DEL USUARIO -->
            <div class="card my-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{usuario?.foto}}" class="img-fluid rounded-start" alt="Imagen de perfil">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <h5 class="card-title">{{usuario?.name}}</h5>
                        <p class="card-text">{{usuario?.descripcion}}</p>
                        <p class="card-text"><small class="text-body-secondary">{{usuario?.ubicacion}}</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="user-section">
                <h3 class="text-start mt-3">Mis publicaciones</h3>
                <p>{{usuario?.publicaciones}}</p>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" (click)="obtenerMascotasFor()">
                                Activas.
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>Mascotas activas</strong> 
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Pasivas.
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>Mascotas pasivas</strong>
                            </div>
                        </div>
                    </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Finalizadas.
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>Mascotas finalizadas</strong> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    hola {{publicacionesActivas[0].nombre }}
                    hola {{publicacionesActivas[2].nombre }}
                </div>


        </div>
        <div class="container mt-5">
            <h3 class="text-start">Configuración</h3>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapseOne">
                            Nombre de usuario.
                        </button>
                    </h2>
                    <div id="collapse1" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Cambiar nombre</strong> 
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapseTwo">
                            Contraseña.
                        </button>
                    </h2>
                    <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Cambiar contraseña</strong>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapseThree">
                            Correo electrónico
                        </button>
                    </h2>
                    <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Cambiar correo.</strong> 
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Ubicación/Dirección
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Cambiar ubicación/dirección.</strong> 
                        </div>
                    </div>
                </div>
                <button class="config-button mt-3 btn"><p class="m-auto">Cerrar Sesión</p></button>
            </div>


</div>