<div id="perfil">
    <div class="container container-flex">
    <div class="text-start">
        <h1>Mi perfil</h1>

    </div>
            <!-- DATOS DEL USUARIO -->
            <div class="card my-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://static.vecteezy.com/system/resources/previews/019/879/186/non_2x/user-icon-on-transparent-background-free-png.png" class="img-fluid rounded-start" alt="Imagen de perfil">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <h5 class="card-title">{{usuario?.name}}</h5>
                        <p class="card-text">{{usuario?.descripcion}}</p>
                        <p class="card-text"><small class="text-body-secondary">{{usuario?.ubicacion}}</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="user-section">
                <h3 class="text-start mt-3">Mis publicaciones</h3>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" (click)="obtenerMascotasUsuario()">
                                Ver publicaciones activas
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div *ngFor="let mascota of publicaciones">
                                    <div class="card my-3 mx-auto tarjetaMascota">
                                        <div class="row g-0">
                                            <div class="col colImagen">
                                                <img src="{{mascota.imagenprincipal}}" class="img-fluid rounded-start cardimg" alt="Imagen de perfil">
                                            </div>
                                            <div class="col">
                                                <div class="card-body text-start">
                                                    <h5 class="card-title">{{mascota.nombre}}</h5>
                                                    <p class="card-text">{{mascota.descripcion}}</p>
                                                    <p class="card-text"><small class="text-body-secondary">{{mascota.ciudad}}</small></p>
                                                    
                                                </div>
                                                <button type="button" class="btn mx-auto" id="botonvermas"
                                                        [routerLink]="['../../explore/publicacion', mascota.idmp]">
                                                        Ver más
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>        

        </div>
        <div class="container mt-5">
            <h3 class="text-start">Configuración</h3>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapseOne">
                            Nombre de usuario.
                        </button>
                    </h2>
                    <div id="collapse1" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {{usuario?.email}}
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Ubicación/Dirección
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {{usuario?.ubicacion}}
                        </div>
                    </div>
                </div>
                <button class="config-button mt-3 btn"><p class="m-auto" (click)="cerrarSesion()">Cerrar Sesión</p></button>
            </div>


</div>