.footer{
    background-color: #db9a5c;
}
.img{
    height: 45%;
    width: 45%;
    
}

/* Estilos para pantallas grandes (computadoras de escritorio) */
@media screen and (min-width: 1300px) {
    #logo1{
        margin-top: 2rem;
        width: 6rem;
        height: 6rem;
    }
    
}

/* Estilos para pantallas medianas (notebooks) */
@media screen and (max-width: 1300px) and (min-width: 768px) {
    #logo1{
        margin-top: 1rem;
        width: 6rem;
        height: 6rem;
    }
}

/* Estilos para pantallas pequeñas (móviles) */
@media screen and (max-width: 767px) {
    #logo1{
        margin-top: 2rem;
        width: 6rem;
        height: 6rem;
    }
}

.botonA, .botonB {
    width: 100%;
    text-align: center;
    background-color: #86653C;
    border:none;
}

.botonA li, .botonB li {
    display: inline-block;
    padding: 0px 10px; /* Ajusta el relleno según tus preferencias */
    margin: 0px 0;
    border-bottom: 1px solid #000000;
}
.boton-contacto a {
    color: #000000;

}