<div class="container-flex busqueda pt-2 px-5">
    <div class="input-group mb-3 ">
        <input type="text" class="form-control" placeholder="Busque una publicacion...">
        <button class="btn btn-outline-secondary" type="button" id="buscar">Buscar</button>
    </div>
    <div class="row">
        
        <h1>Explorar publicaciones de mascotas perdidas:</h1>
        <!-- CARGA DE CARDS -->
        <div class="col">
            <app-card></app-card>
        </div>
        <!--  -->
    </div>
</div>