<div class="form-ubicacion mx-auto">
    <header>
        <span>
            <h2>Ubicacion</h2>
        </span>
    </header>
    <form class="ubicacion">
        <label for="nombre"><strong>Ciudad:</strong></label>
        <input type="text" name="ciudad" id="ciudad">

        <label for="nombre"><strong>Barrio: </strong></label>
        <input type="text" name="Barrio" id="Barrio">

        <label for="nombre"><strong>Fecha cuando se perdio:</strong></label>
        <input type="text" name="fecha-perdida" id="fecha-perdida">

        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d24828.18677879155!2d-67.9870464!3d-38.93487083570176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1692106176690!5m2!1ses-419!2sar" width="300" height="300" style="border-radius:5px; border-color: black;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </form>
</div>
