.form-ubicacion{
    background-color: #F2c995;
    width: 400px;
    position:absolute;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, .8) ;
    border: 2px solid black;
    border-radius: 10px;
}
#h1principal{
    text-align: center;
}


.form-ubicacion{
    position:absolute;
    width: 500px;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, .8) ;
    border: 3px solid black;
    border-radius: 10px;
}

.ubicacion{
    padding:.8rem;
    overflow:hidden;
    color:black
}
.ubicacion{
    border:black;
}
.ubicacion label, .ubicacion input,.ubicacion select,.ubicacion textarea{
    display:block;
    width:100%;
    margin-bottom:8px;
}
.ubicacion input,.ubicacion text,.ubicacion select{
    border: none;
    border-bottom:2px solid black;
    margin-bottom:10px;
    background: none;
}

iframe{
    transform:translate(60%,10px);
    border-radius: 10px;
}