.background{
    min-height: 85vh;
    background: rgb(226,178,120);
    background: linear-gradient(153deg, rgba(226,178,120,1) 0%, rgba(246,217,178,1) 100%);
}

.componente{
    min-height: 90vh;
}

img{
    height: 100%;
    width: 100%;
    /* margin: 20% 25%; */
    /* Agregamos margen inferior para evitar solapamiento */
}
.container {
    margin-top: 30px;
    color: #000;
}

h2 {
    color: #000;
    font-size: 36px;
}

p {
    color: #000;
    font-size: 18px;
}

footer {
    width: 100%;
    height: 90px;
    line-height: 60px;
    background-color: #d39e5e;
    color: #fff;
    position: absolute;
    bottom: 10;
    margin-top: 0px;
    text-align: center;
}

.bg-gradient {
    background-image: 
    #d39e5e;
}

