<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acerca de nosotros</title>
  <link rel="stylesheet" href="nosotros.component.css">
</head>
<body>
  <section class="bg-gradient py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="text-primary">Acerca de Nosotros</h2>
          <p class="lead text-white">
            ¡Bienvenido(a) al Sitio Web de Mascotas Perdidas! Una plataforma segura y efectiva para publicar y buscar mascotas perdidas. Nos preocupamos profundamente por el bienestar de nuestros compañeros de cuatro patas y lo angustiante que puede ser perderlos. Nuestro objetivo es crear una herramienta web y una comunidad comprometida a brindar ayuda a quienes han perdido su mascota.
          </p>
          <h2 class="text-secondary">Nuestra Misión</h2>
          <p class="text-white">
            El objetivo principal de Mascotas Perdidas es proporcionar un espacio dedicado exclusivamente al tópico de mascotas perdidas, surge de un proyecto escolar en base a una necesidad en la sociedad, no existe un lugar online dedicado y efectivo a la hora de publicar una mascota perdida. La mayoría de sitios existentes son por medio de redes sociales, las publicaciones se pueden perder fácilmente o son sitios extranjeros. Esto fué lo que nos inspiró a desarrollar una página web que entregue un espacio dedicado, libre de spam y con funcionalidades innovadoras para la publicación de mascotas perdidas.
          </p>
        </div>
        <div class="col-md-6 text-center">
          
            <img src="../../../../../assets/logoreco-removebg-preview.png" alt="logo mascotas perdidas" class="img-fluid rounded-circle">
          
        </div>
      </div>
    </div>
  </section>

  <!-- Pie de página -->
  <footer class="bg-dark text-white text-center py-3">
    <div class="container">
      <p class="mb-0">Derechos de Mascotas perdidas © 2023 - Sitio Web</p>
    </div>
  </footer>

</body>
</html>
