
    <div class="container-fluid pt-2 background componente">
      <div class="row container-fluid">
        <div class="col-md-5">
          <h2>Acerca de Nosotros</h2>
          <p class="text-black">
            ¡Bienvenido(a) al Sitio Web de Mascotas Perdidas! Una plataforma segura y efectiva para publicar y buscar mascotas perdidas. Nos preocupamos profundamente por el bienestar de nuestros compañeros de cuatro patas y lo angustiante que puede ser perderlos. Nuestro objetivo es crear una herramienta web y una comunidad comprometida a brindar ayuda a quienes han perdido su mascota.
          </p>
          <h2>Nuestra Misión</h2>
          <p class="text-black">
            El objetivo principal de Mascotas Perdidas es proporcionar un espacio dedicado exclusivamente al tópico de mascotas perdidas, surge de un proyecto escolar en base a una necesidad en la sociedad, no existe un lugar online dedicado y efectivo a la hora de publicar una mascota perdida. La mayoría de sitios existentes son por medio de redes sociales, las publicaciones se pueden perder fácilmente o son sitios extranjeros. Esto fué lo que nos inspiró a desarrollar una página web que entregue un espacio dedicado, libre de spam y con funcionalidades innovadoras para la publicación de mascotas perdidas.
          </p>
        </div>
        <div class="col-md-6 imagen">
            <img src="../../../../../assets/logo1.svg" alt="logo mascotas perdidas" class="img-fluid">
        </div>
      </div>
    </div>