.card{
    background-color: #E5D1B8;
}
ul{
    background-color: #E5D1B8;
    border: 1px solid black
}
#dropdownMenuButton{
    background-color: #E5D1B8;
    border:none;
    color:black; 
    padding:0px;

}
.dropdown-toggle::after{
    content: none;
}
img{
    height: 15rem;
    object-fit: cover;
}
.card{
    border: 1px solid black; 
    margin-bottom: 20px;
}
#botonvermas{
    border:1px solid black;  
}