<div class="text-center mb-4">
    <h4 class="text-muted progreso">
        <span class="pointer" (click)="btnDescripcion()" [ngClass]="{'titulo-activo': mostrarDivDescripcion, 'titulo-inactivo': !mostrarDivDescripcion}">Descripcion</span>
        -
        <span class="pointer" (click)="btnUbicacion()" [ngClass]="{'titulo-activo': mostrarDivUbicacion, 'titulo-inactivo': !mostrarDivUbicacion}">Ubicacion</span>
        - 
        <span class="pointer" (click)="btnContacto()" [ngClass]="{'titulo-activo': mostrarDivContacto, 'titulo-inactivo': !mostrarDivContacto}">Contacto</span>
    </h4>
</div>

<div class="container-fluid tarjetas">
    <!-- TARJETA DE INFORMACION DE LA MASCOTA -->
    <div id="descripcion" *ngIf="mostrarDivDescripcion" class="form-mascota mx-auto transicion-div mostrar shadow-lg" [@fade]>
        <header class="py-2">
            <span>
                <h2>Informacion de la mascota</h2>
            </span>
        </header>
        <div class="mascota tarjetas-info">
            <!-- COMIENZO FORM -->

            <!-- NOMBRE -->
            <label for="nombre"><strong>Nombre: </strong> </label>
            <input type="text" name="nombre" placeholder="Ingrese el nombre de tu mascota" id="nombre" [(ngModel)]="mascota.nombre">
            <div class="row">
                <div class="col">
                    <!-- RAZA -->
                    <label for="raza"><strong>Raza: </strong> </label>
                    <select name="raza" id="raza" formControlName="raza">
                        <option value="Caniche">Caniche</option>
                        <option value="Galgo">Galgo</option>
                        <option value="Chihuahua">chihuahua</option>
                        <option value="Foxterrier">Foxterrier</option>
                        <option value="Collie">Collie</option>
                        <option value="Salchicha">Salchicha</option>
                        <option value="Golden Retriever">Golden Retriever </option>
                        <option value="otro">Otro</option>
                    </select>
                </div>
                <div class="col">
                    <!-- TAMAÑO -->
                    <label for="tamaño"><strong>Tamaño: </strong></label>
                    <select name="tamaño" id="tamaño" formControlName="tamano">
                        <option value="Pequeño">Pequeño</option>
                        <option value="Mediano">Mediano</option>
                        <option value="Grande">Grande</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <!-- EDAD -->
                    <label for="edad"><strong>Edad: </strong></label>
                    <input type="number" placeholder="Ingrese la edad de su mascota" name="edad" id="edad" formControlName="edad">
                </div>
                <div class="col">
                    <!-- SEXO -->
                    <label for="sexo"><strong>Sexo: </strong></label>
                    <select name="sexo" id="nombre" formControlName="sexo">
                        <option value="Hembra">Hembra</option>
                        <option value="Macho">Macho</option>
                    </select>
                </div>
            </div>

            <!-- DESCRIPCION -->
            <label for="descripcion"><strong>Descripcion de tu mascota: </strong></label>
            <textarea class="textarea" type="text" name="descripcion" id="descripcion" placeholder="Describá su mascota" formControlName="descripcion"></textarea>

            <!-- IMAGENES URL beta -->
            <label for="imagenes"><strong>Imagenes de la mascota </strong></label>
            <h6>Imagen principal</h6>
            <input type="text" name="imagenes" id="imagenprincipal" formControlName="imagenprincipal">
            <h6>Imagen N2</h6>
            <input type="text" name="imagenes" id="imagen2" formControlName="imagen2">
            <h6>Imagen N3</h6>
            <input type="text" name="imagenes" id="imagen3" formControlName="imagen3">
            <h6>Imagen N4</h6>
            <input type="text" name="imagenes" id="imagen4" formControlName="imagen4">
        </div>
    </div>
    <!-- TARJETA DE INFORMACION DE LA UBICACION -->
    <div id="ubicacion"  *ngIf="mostrarDivUbicacion" class="form-ubicacion mx-auto transicion-div mostrar" [@fade]>
        <header class="py-2">
            <span>
                <h2>Ubicacion</h2>
            </span>
        </header>
        <!-- INFO UBICACION -->
        <div class="ubicacion tarjetas-info">
            <!-- COMO SE PERDIO -->
            <label for="perdida"><strong>Cómo se perdió: </strong></label>
            <textarea class="textarea" type="text" name="perdida" id="perdida" placeholder="Explique como se perdio" formControlName="perdida"></textarea>

            <!-- CIUDAD -->
            <label for="nombre"><strong>Ciudad:</strong></label>
            <input type="text" name="ciudad" id="ciudad" formControlName="ciudad" placeholder="En que ciudad sucedio">

            <!-- BARRIO -->
            <label for="nombre"><strong>Barrio: </strong></label>
            <input type="text" name="Barrio" id="barrio" formControlName="barrio" placeholder="En que barrio sucedio">

            <!-- FECHA -->
            <label for="nombre"><strong>Fecha/Hora cuando se perdio:</strong></label>
            <input type="datetime-local" name="fecha-perdida" id="fechaperdida" formControlName="fechaperdida" placeholder="Ingrese la fecha de perdida">

            <!-- MAPA -->
            <label for="nombre"><strong>Mapa:</strong></label>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24828.531748143156!2d-68.01086362031148!3d-38.9338854569395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960a30ee145c2355%3A0x488e3620b435393c!2sCipolletti%2C%20R%C3%ADo%20Negro!5e0!3m2!1ses-419!2sar!4v1698456831052!5m2!1ses-419!2sar" width="100%" height="300px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <!-- TARJETA DE INFORMACION DE CONTACTO -->
    <div id="contacto" *ngIf="mostrarDivContacto" class="form-contacto mx-auto transicion-div mostrar" [@fade]>
        <header class="py-2">
            <span>
                <h2>Contacto</h2>
            </span>
        </header>
        <div class="contacto tarjetas-info">
            <!-- INFO CONTACTO -->
            <label for="nombre"><strong>Nombre del dueño:</strong></label>
            <input type="text" placeholder="Ingrese el nombre del dueño" name="dueño" id="nombredueno" formControlName="nombredueno">
            
            <label for="nombre"><strong>Telefono 1 (Principal)</strong></label>
            <input type="number" placeholder="Ingrese numero de telefono" name="tel1" id="tel1" formControlName="tel1">

            <label for="nombre"><strong>Telefono 2:</strong></label>
            <input type="number" placeholder="Ingrese un numero de respaldo" name="tel2" id="tel2" formControlName="tel2">

            <label for="gmail"><strong>Correo electrónico:</strong></label>
            <input type="text" name="mail" id="mail" placeholder="Ingrese un Mail de contacto" formControlName="mail">
        </div>
    </div>
    <div class="mx-auto d-flex mt-3">
         <button type="button" *ngIf="!mostrarDivDescripcion" class="btn btn-primary btn-lg mx-auto" (click)="btnAtrasForm()" >Atras</button> 
         <button type="button" *ngIf="mostrarDivDescripcion || mostrarDivUbicacion" class="btn btn-primary btn-lg mx-auto" (click)="btnSiguienteForm()">Siguiente</button>
         <button type="button" class="btn btn-success mx-auto btn-lg" *ngIf="mostrarDivContacto" (click)="guardarCambios()">Guardar Cambios</button> 
        </div>
</div>