<div class=" login container-flex">


    <div>
        <div class="row">
            <div class="col-6 col-md-4">
                <div class="login-container">
                    <h2>Registrarse</h2>
                    <form class="login-form">
                        <!-- Nombre -->
                        <input [(ngModel)]="usuarios.name" type="text" placeholder="Nombre" name="name" required>

                        <!-- Apellido -->
                        <!-- <input [(ngModel)]="usuarios.apellido" type="text" placeholder="Apellido" required> -->

                        <!-- Email -->
                        <input [(ngModel)]="usuarios.email" type="text" placeholder="Correo electrónico" name="email" required>

                        <!-- Contraseña -->
                        <input [(ngModel)]="usuarios.password" [type]="hide ? 'password' : 'text'" #input minlength="6" placeholder="Contraseña" name="contraseña" required>

                        <!-- repetir contraseña -->
                        <!-- <input type="password" placeholder="Confirmar contraseña" required> -->
                    </form>
                    <p class="register-link">¿Ya tenés una cuenta? <a routerLink="/auth/login">Iniciar sesión</a></p>
                    <button class="btn button" type="submit" (click)="registrarse()">Crear cuenta</button>
                </div>
            </div>
        </div>
    </div>