.fondo{ 
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    background: rgb(226,178,120);
    background: linear-gradient(153deg, rgba(226,178,120,1) 0%, rgba(246,217,178,1) 100%);
}

.login-container {
    background-color: #f0d8b8;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
    border-radius: 4px;
    padding: 15px;
   
}

.login-form input {
    text-decoration: #000000;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: #e2b278;
}

/* OJITO */
.login-form button {
    padding: 10px;
    background-color: #f0d8b8;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.login-form button:hover {
    background-color: #0056b3;
}

.register-link {
    margin-top: 10px;
    font-size: 14px;
}
.button{
background-color: rgba(135, 183, 255, 0.77);

}

