<div class="container">
        <div class="form-mascota">
            <header>
                <span>
                    <h2>Informacion de la mascota</h2>
                </span>
            </header>
            <form class="mascota">
                <label for="raza"><strong>Raza: </strong> </label>
                <select name="raza" id="raza">
                    <option>Foxterrier</option>
                    <option>Foxterrier</option>
                    <option>Foxterrier</option>
                    <option>Foxterrier</option>
                </select>

                <label for="tamaño"><strong>Tamaño: </strong></label>
                <select name="tamaño" id="tamaño">
                    <option>Pequeño</option>
                    <option>Mediano</option>
                    <option>Grande</option>
                </select>

                <label for="edad"><strong>Edad: </strong></label>
                <input type="number" name="edad" id="edad">

                <label for="nombre"><strong>Nombre: </strong> </label>
                <input type="text" name="nombre" id="nombre">

                <label for="sexo"><strong>Sexo: </strong></label>
                <select name="sexo" id="nombre">
                    <option>Hembra</option>
                    <option>Macho</option>
                </select>

                <label for="descripcion"><strong>Descripcion de tu mascota: </strong></label>
                <input type="text" name="descripcion" id="descripcion">

                <label for="perdida"><strong>Como se perdio: </strong></label>
                <input type="text" name="perdida" id="perdida">

                <label for="imagenes"><strong>Imagenes de la mascota </strong></label>
                <h6>Imagen principal</h6>
                <input type="file" name="imagenes" id="imagenes">
                <h6>Imagen N2</h6>
                <input type="file" name="imagenes" id="imagenes">
                <h6>Imagen N3</h6>
                <input type="file" name="imagenes" id="imagenes">
                <h6>Imagen N4</h6>
                <input type="file" name="imagenes" id="imagenes">
            </form>
        </div>
        <!--Formulario de ubicacion, aca se separa el formulario de arriba con el de abajo-->
        <!-- aaaaa no funciona el git -->
</div>