/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');


h1,h2,h3{
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
}

p{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
}

html {
    background-color: #F2C995;
}